/*GLOBAL CSS*/
html{
    scroll-behavior: smooth;
	height:100%;
}
body {
    background-color: rgb(46, 46, 46);
    color: rgb(210, 255, 237);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    display: block;
    font-size: 100%;
    overflow-x: hidden;
	height:100%;
}
h1{
    font-size: 2em;
}
a {
    text-decoration: underline;
    color:aquamarine;
}
.no-deco{
    text-decoration: none;
}
ul{
    list-style: none;
    padding-left: 0%;
}
.navigation{
    z-index: 4;
    position: fixed;
    top: 0;
    height: 8%;
    left: 50%;
    transform: translateX(-50%);
}
.navigation ul li{
    display: inline;
}
.self-redirect-a{
    color: red;
    text-decoration: none;
}
.italic{
    font-style: italic;
}
span p{
    display: inline;
}
.carte-navigation{
    height: 50px;
    width: 50px;
    overflow: hidden;
    display: inline-block;
    background-position: center;
    background-size: cover;
}
#btn-accueil{
    background-image: url("./img/house.png");
}
#btn-projets{
    background-image: url("./img/gear.png");
}
#btn-about{
    background-image: url("./img/question-mark.png");
}
/*MAIN PAGE CSS*/
#accueil{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
    left: 0%;
    outline: none;
}
#main_page_header{
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translateY(-50%);
    font-size: 150%;
    display: inline-block;

}
#main_page_aside{
    position: absolute;
	height: 25vw;
	width: 25vw;
    top: 50%;
    right: 12%;
    transform: translateY(-50%);
    text-align: right;
    overflow: hidden;
    display: inline-block;
}
#main_page_aside img{
	position: relative;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    border-radius:50%;
}
#main_page_header ul li{
    display: inline;
}
#main_page_header ul li:not(:last-child){
    padding-right: 10px;
}
/*PROJETS PAGE CSS*/
#projets{
    z-index: 4;
    position: absolute;
    height: 92%;
    width: 100%;
    left: 100%;
    overflow-y: auto;
    display: inline-block;
    bottom: 0;
    outline: none;
}
.projets_header{
    font-size: 110%;
    text-align: center;
}
.projets_grid{
    text-align: center;
}
.carte{
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: inline-block;
    margin: 1%;
}
.carte img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: .2s;
}
.carte:hover img{
    transform: scale(1.2);
}
.carte_sub {
    position: relative;
    width: 100%;
    height: 20%;
    background-color: rgba(119, 119, 119, 0.7);
    margin-top: -20%;
    display: table;
}
.carte_sub p {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    color: white;
}
/*ABOUT PAGE CSS*/
#about{
    z-index: 4;
    position: absolute;
    height: 92%;
    width: 100%;
    display: inline-block;
    left: 200%;
	bottom: 0;
	overflow-y: auto;
    outline: none;
}
#about_section{
    text-align: center;
}
.margin-p{
    margin-right: 10%;
    margin-left: 10%;
}
.progress-bar-container{
    position: relative;
    left: 25%;
    width: 50%;
    height: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgba(245, 245, 245, 0.125);
}
.progress-bar{
    height: 100%;
}
.twenty-five-pcent{
    width: 25%;
    background-color: rgba(255, 0, 0, 0.5);
}
.thirty-five-pcent{
    width: 35%;
    background-color: rgba(255, 68, 0, 0.5);
}
.fifty-pcent{
    width: 50%;
    background-color: rgba(255, 166, 0, 0.5);
}
.seventy-five-pcent{
    width: 75%;
    background-color: rgba(153, 205, 50, 0.5);
}
.ninety-pcent{
    width: 90%;
    background-color: rgba(0, 128, 0, 0.5);
}
#background{
    overflow-y: hidden;
}
#background div{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 1000%;
    background-size: contain;
    background-repeat: repeat-x;
    transition: 1000ms;
}
#bg{
    z-index: 0;
    background-image: url("./img/bg.png");
}
#fg1{
    z-index: 1;
    background-image: url("./img/fg1.png");
}
#fg2{
    z-index: 3;
    background-image: url("./img/fg2.png");
}