/*GLOBAL CSS*/
body {
    background-color: rgb(46, 46, 46);
    color: rgb(210, 255, 237);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    display: block;
    overflow-y: scroll;
    font-size: 100%;
}
h1{
    font-size: 2em;
}
a {
    text-decoration: underline;
    color:aquamarine;
}
.no-deco{
    text-decoration: none;
}
ul{
    list-style: none;
    padding-left: 0%;
}
.navigation{
    position: absolute;
    bottom: 0%;
    width: 100%;
    font-size: 150%;
    text-align: center;
}
.navigation ul li{
    display: inline;
}
.self-redirect-a{
    color: red;
    text-decoration: none;
}
.italic{
    font-style: italic;
}
span p{
    display: inline;
}
/*MAIN PAGE CSS*/
#main_page_header{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:16%;
    font-size: 150%;
}
#main_page_aside{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16%;
    text-align: right;
    overflow: hidden;
}
#main_page_img_wrapper img{
    height: 450px;
    width: 450px;
    object-fit: cover;
    border-radius:50%;
}
#main_page_header ul li{
    display: inline;
}
#main_page_header ul li:not(:last-child){
    padding-right: 10px;
}
/*PROJETS PAGE CSS*/
.projets_header{
    font-size: 110%;
    text-align: center;
}
.projets_grid{
    text-align: center;
}
.carte{
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: inline-block;
    margin: 1%;
}
.carte img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: .2s;
}
.carte:hover img{
    transform: scale(1.2);
}
.carte_sub {
    position: relative;
    width: 100%;
    height: 20%;
    background-color: rgba(119, 119, 119, 0.7);
    margin-top: -20%;
    display: table;
}
.carte_sub p {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    color: white;
}
/*ABOUT PAGE CSS*/
#about_section{
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    left:16%;
    width: 34%;
}
#contact_aside{
    text-align: right;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 16%;
    width: 34%;
}
.progress-bar-container{
    position: relative;
    width: 100%;
    height: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: whitesmoke;
}
.progress-bar{
    height: 100%;
}
.twenty-five-pcent{
    width: 25%;
    background-color: red;
}
.thirty-five-pcent{
    width: 35%;
    background-color: orangered;
}
.fifty-pcent{
    width: 50%;
    background-color: orange;
}
.seventy-five-pcent{
    width: 75%;
    background-color: yellowgreen;
}
.ninety-pcent{
    width: 90%;
    background-color: green;
}
